<div class="item-product hover-zoom d-flex flex-column align-items-center justify-content-center text-center">
    <a href="{{ product.url }}" class="image flex-img radius-8 overflow-hidden w-100 mb-3">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
    </a>
    <a href="{{ product.url }}" class="h4 title mb-2 lh-1">{{  product.title | truncate: 30 }}</a>
    <p class="price mb-3 fw-700">{{ product.price | money }}</p>

    

    {% unless product.available %}
        <button class="btn btn-primary px-4" disabled>Sold Out</button>
    {% else %}
    <form action="/cart/add" data-productid="{{product.id}}" method="post" class="ajax-cart-form">
        <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
        <button type="submit" class="btn btn-primary px-4">Add To Cart</button>
    </form>
    {% endunless %}
</div>