<div class="sidebar sidebar-right" id="cart-sidebar">
    <div class="sidebar-container">
        <button class="btn btn-sm btn-default sidebar-close-btn mdi mdi-close fz24"></button>
        <div class="sidebar-body">
            <div class="title">
                <h3 class="fz28 fw-700 font-title">Cart Items</h3>
            </div>
            <div class="sidebar-content scrollbar">
            
                {% comment %} 
                <!-- Sidebar item: start -->
                 <div class="menu-card d-flex justify-content-between">
                    <div class="d-flex align-items-center w-75">
                        <div class="image flex-img mr-2">
                            <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_1.jpg" alt="" />
                        </div>
                        <div class="item-info">
                            <h4 class="fz20 text-ellipsis fw-600">Item name </h4>
                            <p class="fz14">price: <strong>27$</strong></p>
                        </div>
                    </div>
                    <div class="item-action d-flex align-items-center">
                        <button class="btn btn-sm btn-danger mdi mdi-close fz18"></button>
                    </div>
                </div>
                <!-- Sidebar item: end --> 
                {% endcomment %}
                
            </div>
        </div>
        <div class="sidebar-footer w-100">
            <div class="cart-footer">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="fz20 fw-400">Total: <span class="cart-count fw-700"></span> <span class="cart-total fw-700"></span></h4>
                    <a href="/cart" >View All</a>
                </div>
                <a href="/checkout" class="btn  btn-primary w-100">Checkout</a>
            </div>
            <div class="cart-footer-empty d-none">
                <a href="/collections/all" class="btn btn-primary w-100">Shop Now</a>
            </div>
        </div>
    </div>
</div>