<section class="section-pt section-pb">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-4 fw-700 font-title">Customer Account</h2>
        </div>
        <div class="section-content">
            <div class="row justify-content-center">
                <div class="col-md-6">

                    <h4 class="fw-600">Addresses</h4>
                    <div class="mb-4">
                        {{ customer.default_address | format_address }}
                    </div>

                    <a href="/account/addresses" class="btn btn-primary fit-content">View Addresses</a>

                </div>
                {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-striped table table-hover table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Order number</th>
                                    <th>Order date</th>
                                    <th>Payment status</th>
                                    <th>Fulfillment status</th>
                                    <th>Totla Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in customer.orders %}
                                <tr>
                                    <td>{{ order.name | link_to: order.customer_url }}</td>
                                    <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                                    <td>{{ order.financial_status_label }}</td>
                                    <td">{{ order.fulfillment_status_label }}</td>
                                        <td>{{ order.total_price | money }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if paginate.pages > 1 %}
            {% include 'pagination' %}
            {% endif %}

            {% endpaginate %}
        </div>
    </div>
</section>