<section class="section-pt section-pb">
    <div class="container">
        <div class="section-title border-bottom pb-3 d-flex flex-wrap justify-content-between align-items-center">
            <h2 class="fw-700 mb-0 font-title">General Informations</h2>
            <div class="d-flex">
                <a href="/account" class="btn btn-primary">Account</a>
                <button type="button" class="btn btn-secondary ml-3 addNewBtn">Add New</button>
            </div>
        </div>
        <div class="section-content">
            {% paginate customer.addresses by 5 %}
            <div class="row add-address mb-5 d-none pb-4 border-bottom">
                <div class="col-md-6">
                    {% form 'customer_address', customer.new_address %}
                    <h2 class="mb-4">Add New Address</h2>
    
                    <table class="table table-borderless">
                        <tr>
                            <td><label for="AddressFirstNameNew">Firstname</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[first_name]" id="AddressFirstNameNew" value="{{ form.first_name }}" autocapitalize="words">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressLastNameNew">Lastname</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[last_name]" id="AddressLastNameNew" value="{{ form.last_name }}" autocapitalize="words">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressCompanyNew">Company</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[company]" id="AddressCompanyNew" value="{{ form.company }}" autocapitalize="words">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressAddress1New">Address1</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[address1]" id="AddressAddress1New" value="{{ form.address1 }}" autocapitalize="words">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressAddress2New">Address2</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[address2]" id="AddressAddress2New" value="{{ form.address2 }}" autocapitalize="words">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressCityNew">City</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[city]" id="AddressCityNew" value="{{ form.city }}" autocapitalize="words">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressCountryNew">Country</label></td>
                            <td>
                                <select class="form-control" name="address[country]" id="AddressCountryNew" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressProvinceNew">Province</label></td>
                            <td>
                                <select class="form-control" name="address[province]" id="AddressProvinceNew" data-default="{{ form.province }}" disabled>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressZipNew">Zip Code</label></td>
                            <td>
                                <input class="form-control" type="text" name="address[zip]" id="AddressZipNew" value="{{ form.zip }}"  autocapitalize="characters">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressPhoneNew">Phone</label></td>
                            <td>
                                <input class="form-control" type="tel" name="address[phone]" id="AddressPhoneNew" value="{{ form.phone }}" pattern="[0-9\-]*">
                            </td>
                        </tr>
                    </table>
    
                    <div class="d-flex align-items-center mb-3">
                        {{ form.set_as_default_checkbox }}
                        <label class="ml-2 mb-0">Set as default</label>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary mr-3">Add</button>
                        <button type="button" class="btn btn-light addCancelBtn">Cancel</button>
                    </div>
                    {% endform %}
                </div>
            </div>

            {% for address in customer.addresses %}
            <div class="row address-list  pb-4 border-bottom">
                <div class="col-md-6">
                    {{ address | format_address }}
    
                    <div class="d-flex mt-4">
                        <button type="button" class="btn btn-info mr-3 editBtn">Edit</button>
        
                        <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}"
                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 edit-address mb-4 d-none">
                    {% form 'customer_address', address %}
    
                    <h4 class="mb-4">Edit Address</h4>
                    <table class="table table-borderless">
                        <tr>
                            <td for="AddressFirstName_{{ form.id }}">Firstname </td>
                            <td>
                                <input class="form-control" type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}" value="{{ form.first_name }}" autocapitalize="words">
                            </td>

                        </tr>
                        <tr>
                            <td for="AddressLastName_{{ form.id }}">Lastname</td>
                            <td>
                                <input class="form-control" type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}" value="{{ form.last_name }}" autocapitalize="words">
                            </td>

                        </tr>
                        <tr>
                            <td for="AddressCompany_{{ form.id }}">Company</td>
                            <td>
                                <input class="form-control" type="text" name="address[company]" id="AddressCompany_{{ form.id }}" value="{{ form.company }}" autocapitalize="words">
                            </td>

                        </tr>
                        <tr>
                            <td for="AddressAddress1_{{ form.id }}">Address1 </td>
                            <td>
                                <input class="form-control" type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}" value="{{ form.address1 }}" autocapitalize="words">
                            </td>

                        </tr>
                        <tr>
                            <td for="AddressAddress2_{{ form.id }}">Address2</td>
                            <td>
                                <input class="form-control" type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}" value="{{ form.address2 }}" autocapitalize="words">
                            </td>

                        </tr>
                        <tr>
                            <td for="AddressCity_{{ form.id }}">City</td>
                            <td>
                                <input class="form-control" type="text" name="address[city]" id="AddressCity_{{ form.id }}" value="{{ form.city }}" autocapitalize="words">
                            </td>

                        </tr>
                        <tr>
                            <td for="AddressCountry_{{ form.id }}">Country</td>
                            <td>
                                <select class="form-control" name="address[country]" id="AddressCountry_{{ form.id }}""
                                    data-default="{{ form.country }}"></select>
                            </td>
                        </tr>
                        <tr>
                            <td for="AddressProvince_{{ form.id }}">Province</td>
                            <td>
                                <select class="form-control" name="address[province]" id="AddressProvince_{{ form.id }}"
                                    data-default="{{ form.province }}">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td for="AddressZip_{{ form.id }}">Zip code</td>
                            <td>
                                <input class="form-control" type="text" name="address[zip]" id="AddressZip_{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="AddressPhone_{{ form.id }}">Phone</label></td>
                            <td>
                                <input class="form-control" type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" value="{{ form.phone }}" pattern="[0-9\-]*">
                            </td>
                        </tr>
                    </table>

                    <div class="d-flex align-items-center mb-3">
                        {{ form.set_as_default_checkbox }}
                        <label class="ml-2 mb-0">Set as default</label>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary mr-3">Update</button>
                        <button type="button" class="btn btn-light editCancelBtn">Cancel</button>
                    </div>
                    {% endform %}
                </div>
            </div>
            {% endfor %}

            {% if paginate.pages > 1 %}
            <div class="pagination">
                {% include 'pagination' %}
            </div>
            {% endif %}

            {% endpaginate %}
        </div>
    </div>
</section>

<script>
    var addBtn = $('.addNewBtn');
    var addCancelBtn = $('.addCancelBtn');
    var addForm = $('.add-address');
    var editBtn = $('.editBtn');
    var editForm = $('.edit-address');
    var editCancelBtn = $('.editCancelBtn');

    addBtn.on('click', function(){
        if(addForm.hasClass('d-none')) {
            addForm.removeClass('d-none');
        }
    })

    editBtn.on('click', function(){
        if(editForm.hasClass('d-none')) {
            editForm.removeClass('d-none');
        }
    })
    
    addCancelBtn.on('click', function(){
        addForm.addClass('d-none');
    })

    editCancelBtn.on('click', function(){
        editForm.addClass('d-none');
    })
</script>

<script>
    var countrySelect = $('select[name="address[country]"]');
    var provinceSelect = $('select[name="address[province]"]');

    $.ajax({
        url: "/admin/countries.json",
        type: "GET",
        success: function(data){
            $.each(data.countries, function(index, option){
                countrySelect.append(new Option(option.name, option.name));
            })

            if(data.countries.length === 1){
                $.each(data.countries[0].provinces, function(index, option){
                    provinceSelect.prop('disabled', false);
                    provinceSelect.append(new Option(option.name, option.name));
                })
            }
        }
    });

    countrySelect.on('change', function(){
        var selector = $(this);
        var provinceSelector =  selector.parents('form').find('select[name="address[province]');
        var val = $(this).value;

        $.ajax({
            url: "/admin/countries/"+val+"/provinces.json",
            type: "GET",
            success: function(data){
                $.each(data.provinces, function(index, option){
                    provinceSelector.append(new Option(option.name, option.name));
                    provinceSelector.prop('disabled', false);
                })
            }
        });

        
    })

</script>