<section class="section-pt section-pb">
    <div class="container">
        <div class="login-form">
            <div class="section-title text-center">
                <h2 class="mb-4 fw-700 font-title">Login</h2>
            </div>   
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% form 'customer_login' %}
                    {{ form.errors | default_errors }}
    
                    <div class="col-sm-12">
                        <fieldset class="form-group">
                            <label for="" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="customer[email]">
                        </fieldset>
                    </div>
                
                    {% if form.password_needed %}
                    <div class="col-sm-12">
                        <fieldset class="form-group">
                            <label for="" class="form-label">Password</label>
                            <input type="password" class="form-control" name="customer[password]">
                        </fieldset>
                    </div>
                    {% endif %}
    
                    <div class="col-sm-12">
                        <fieldset class="form-group">
                           <button type="submit" class="btn btn-primary uppercase px-5">Login</button>
                        </fieldset>
                    </div>

                    <div class="col-12 d-flex justify-content-between">
                        <a href="/account/register" class="btn btn-light">Register</a>
                    
                        {% if form.password_needed %}
                        <a href="#recover" class="btn btn-light forgetPassBtn">Forgot Password</a>
                        {% endif %}
                        {% endform %}
                    </div>

                </div>

            </div>
        </div>
        
        <div class="login-recovery d-none">
            <div class="section-title text-center">
                <h2 class="mb-4 fw-700 font-title">Recover password</h2>
            </div>  

            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% form 'recover_customer_password' %}
                    {{ form.errors | default_errors }}

                    <div class="col-sm-12">
                        <fieldset class="form-group">
                            <label for="" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="email">
                        </fieldset>
                    </div>

                    <div class="col-sm-12">
                        <fieldset class="form-group d-flex">
                           <button type="submit" class="btn btn-primary uppercase px-5 mr-4">Submit</button>
                           <button type="button" class="btn btn-light uppercase px-5 forgetPassCancelBtn">Cancel </button>
                        </fieldset>
                    </div>
                    
                    {% endform %}
                </div>
            </div>

        </div>

        {% if shop.checkout.guest_login %}
        <div class="guest-login">
            <div class="section-title text-center">
                <h2 class="mb-4 fw-700 font-title">Login as guest</h2>
            </div>  

            <div class="row justify-content-center">
                <div class="col-md-6 d-flex justify-content-center">             
                    {% form 'guest_login' %}
                    <button type="submit" class="btn btn-primary">Login </button>
                    {% endform %}
                </div>
            </div>
        </div>
        {% endif %} 
        
    </div>
</section>

<script>
    var forgetPassBtn = $('.forgetPassBtn');
    var forgetPassCancelBtn = $('.forgetPassCancelBtn');
    var loginRecoveryForm = $('.login-recovery');
    var loginForm = $('.login-form');

    forgetPassBtn.on('click', function(){
        loginForm.addClass('d-none');
        loginRecoveryForm.removeClass('d-none');
    })

    forgetPassCancelBtn.on('click', function(){
        loginForm.removeClass('d-none');
        loginRecoveryForm.addClass('d-none');
    })
</script>
