<section class="section-pt section-pb">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-4 fw-700 font-title">Register</h2>
        </div>   

        <div class="row justify-content-center">
            <div class="col-md-8">
                
                {% form 'create_customer' %}
                    {{ form.errors | default_errors }}

                    <div class="row">
                        
                        <div class="col-sm-6">
                            <fieldset class="form-group">
                                <label for="" class="form-label">First Name</label>
                                <input type="text" class="form-control" name="customer[first_name]"  {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
                            </fieldset>
                        </div>
    
                        <div class="col-sm-6">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="customer[last_name]"  {% if form.first_name %}value="{{ form.last_name }}"{% endif %}>
                            </fieldset>
                        </div>
                        
                        <div class="col-sm-12">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Email</label>
                                <input type="email" class="form-control" name="customer[email]"  {% if form.first_name %}value="{{ form.email }}"{% endif %}>
                            </fieldset>
                        </div>
    
                        <div class="col-sm-12">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Password</label>
                                <input type="password" class="form-control" name="customer[password]" >
                            </fieldset>
                        </div>
    
                        <div class="col-sm-12">
                            <fieldset class="form-group">
                               <button type="submit" class="btn btn-primary uppercase px-5">Submit</button>
                            </fieldset>
                        </div>

                    </div>

                {% endform %}

            </div>
        </div>
    </div>
</div>
