<section class="section-pt section-pb">
    <div class="container">
        <div class="section-title border-bottom text-center">
            <h2 class="mb-4 fw-700 font-title">Reset Password</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 form-reset-password">
                {% form 'reset_customer_password' %}
                
                <div class="col-12">
                    <h4 class="mb-4 text-danger"> {{ form.errors | default_errors }}</h4>
                </div>
               
    
                <div class="col-sm-12">
                    <fieldset class="form-group">
                        <label for="" class="form-label">Password</label>
                        <input type="password" class="form-control" name="customer[password]">
                    </fieldset>
                </div>
    
                <div class="col-sm-12">
                    <fieldset class="form-group">
                        <label for="" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="customer[password_confirmation]">
                    </fieldset>
                </div>
    
                <div class="col-sm-12">
                    <fieldset class="form-group">
                       <button type="submit" class="btn btn-primary uppercase px-5">Reset</button>
                    </fieldset>
                </div>
    
                {% endform %}
            </div>
        </div>
    </div>
</section>