<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">

<head>
	{% include 'head' %}
	{% include 'styles' %}
	{% include 'scripts' %}
	{{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="preloader scrollbar template-{{ template.name | handle }}" >

	{% section 'header' %}

	<main>
		{{ content_for_layout }}
    </main>

	{% section 'footer' %}
	
	<a href="javascript:void(0)" class="back-to-top" id="go-top"><i class="mdi mdi-chevron-double-up"></i><span> Back To Top</span></a>

	{{ 'application.js' | asset_url | script_tag }}
	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
	{{ 'cart.js' | asset_url | script_tag }}
	
</body>

</html>