<section class="blog-banner bg d-flex align-items-center justify-content-center text-center"
	style="background-image: url( {{ section.settings.image | img_url: 'master' }} );">
	<h2 class="text-uppercase fz52 fw-700">{{ blog.title }}</h2>
</section>

{% if section.settings.text %}
<section class="pt-5">
    <div class="container">
	    <p class="fz18 fw-600">{{  section.settings.text }}</p>
    </div>
</section>
{% endif %}

{% schema %} 
    {
        "name": "Blog Banner",
        "class": "blog-section",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image Background",
                "info": "Upload Image"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Some Text",
                "default": "At Uproar Wellness, we recognize that hemp CBD can be a complex field to navigate,",
                "info": "Add Test"
            }
        ]
    }
{% endschema %} 