<section class="section-pt section-pb">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-4 fw-700 font-title">{{ page.title }}</h2>
        </div>
        <div class="row justify-content-center flex-column align-items-center">
        
            {% if page.content != "" %}
            <div class="col-8 mb-5">{{ page.content }}</div>
            {% endif %}
            <div class="col-md-8">
                {% form 'contact' %}
                    {% if form.posted_successfully? %} Thank you for your contact {% endif %}
                    {{ form.errors | default_errors }}

                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Full Name</label>
                                <input type="text" class="form-control" name="contact[name]">
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Phone</label>
                                <input type="text" class="form-control" name="contact[phone]">
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Email Address</label>
                                <input type="text" class="form-control" name="contact[email]">
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset class="form-group">
                                <label for="" class="form-label">Message</label>
                                <textarea name="" id="" cols="30" rows="10" class="form-control" name="contact[body]"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset class="form-group">
                               <button type="submit" value="send" class="btn btn-primary uppercase px-5">Submit</button>
                            </fieldset>
                        </div>
                    </div>
               {% endform %}
            </div>
        </div>
    </div>
</section>
