<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            {% if section.settings.image %}
            <div class="col-4 d-none d-xl-flex p-0 position-relative">
                <div class="footer-image position-absolute top left w-100 h-100 flex-img">
                    <img src="{{ section.settings.image | img_url: 'master'}}" alt="">
                </div>
            </div>
            {% endif %}
            <div class="col-xl-8 col-12 pl-xl-4 fit-content">
                <div class="footer-main">
                    <div class="logo">
                    {% if section.settings.logo %}
                        <img src="{{section.settings.logo | img_url: 'master' }}" alt="">
                    {% else %}
                        <img src="{{'logo.png' | asset_url }}" alt="">
                    {% endif %}
                    </div>
                    <div class="footer-content w-100">
                        <h2 class="fz44 text-uppercase fw-700 mb-5">Contact Info</h2>
                        <div class="mb-4 pb-3">
                            <h4 class="text-secondary fz20 text-uppercase fw-700 mb-2">MAILING ADDRESS</h4>
                            <p class="fz22 text-uppercase fw-300">{{section.settings.address}}</p>
                        </div>
                        <div class="mb-4 pb-3">
                            <h4 class="text-secondary fz20 text-uppercase fw-700 mb-2">EMAIL ADDRESS</h4>
                            <a href="mailto:{{section.settings.email}}" class="fz22 text-uppercase fw-300 text-black">{{section.settings.email}}</a>
                        </div>
                        <div class="mb-5 pb-3">
                            <h4 class="text-secondary fz20 text-uppercase fw-700 mb-2">PHONE NUMBER</h4>
                            <a href="tel:{{section.settings.phone}}" class="fz22 text-uppercase fw-300 text-black">{{section.settings.phone}}</a>
                        </div>
                        <div class="footer-social">
                            <ul class="iconic-menubar d-flex align-items-center justify-content-center justify-content-sm-end">

                                {% if settings.social_twitter_link != '' %}
                                <li><a href="{{ settings.social_twitter_link }}" target="_blank"><img src="{{ 'instagram.svg' | asset_url }}" alt=""></a></li>
                                {% endif %}

                                {% if settings.social_facebook_link != '' %}
                                <li><a href="{{ settings.social_facebook_link }}" target="_blank"><img src="{{ 'facebook.svg' | asset_url }}" alt=""></a></li>
                                 {% endif %}

                                {% if settings.social_linkedin_link != '' %}
                                <li><a href="{{ settings.social_linkedin_link }}" target="_blank"><img src="{{ 'linkedin.svg' | asset_url }}" alt=""></a></li>
                                 {% endif %} 

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


{% schema %} 
    {
        "name": "Footer",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "Upload Image"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo",
                "info": "Upload Logo"
            },
            {
                "type": "text",
                "id": "address",
                "label": "Address",
                "default": "1234 sesame st, Houston.",
                "info": "Address"
            },
            {
                "type": "text",
                "id": "email",
                "label": "Email Address",
                "default": "sales@uproardistribution.com",
                "info": "Email Address"
            },
            {
                "type": "text",
                "id": "phone",
                "label": "Phone Number",
                "default": "(123) 456-7890",
                "info": "Phone Number"
            }
        ]
    }
{% endschema %} 