<header class="site-header sticky-top">
    <nav class="site-nav d-flex align-items-center">
        <div class="container container-lg">
            <div class="nav-content d-flex justify-content-between">
                <div class="mobile-menu d-flex align-items-center d-lg-none">
                    <ul class="iconic-menubar d-flex align-items-center">
                        {% comment %} <li>
                           <a href="{{ section.settings.wholesale }}">Wholesale</a>
                        </li> {% endcomment %}
                        <li>
                            <a href="mailto:{{section.settings.email}}"><img src="{{ 'mail.svg' | asset_url }}" alt=""></a>
                        </li>
                        <li>
                            <a href="tel:{{section.settings.phone}}"><img src="{{ 'call.svg' | asset_url }}" alt=""></a>
                        </li>

                        {% if shop.customer_accounts_enabled %}
                            <li class="dropdown">
                                <a href="/" data-toggle="dropdown"><img src="{{ 'user.svg' | asset_url }}"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if customer %}
                                        <a href="/account">Account</a>
                                        {{ 'log out'  | customer_logout_link }}
                                    {% else %}
                                        {{ 'log in ' | customer_login_link }}
                                        {{ 'register' | customer_register_link }}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %} 

                        <li>
                            <a href="/cart" data-toggle="sidebar" data-ref="cart-sidebar" class="position-relative">
                                <img src="{{ 'cart.svg' | asset_url }}" alt="">
                                <span class="cart-count"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="menu-toggler ">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center w-100">
                    <div class="site-brand">
                        <a href="/">
                            <img src="{{ section.settings.logo | img_url: 'master'}}" alt="">
                        </a>
                    </div>
                    <div class="header-main w-100">
                        <div class="topbar">
                            <ul class="iconic-menubar d-flex align-items-center">
                                <li>
                                    <a href="mailto:{{section.settings.email}}"><img src="{{ 'mail.svg' | asset_url }}" alt=""></a>
                                </li>
                                <li>
                                    <a href="tel:{{section.settings.phone}}"><img src="{{ 'call.svg' | asset_url }}" alt=""></a>
                                </li>
                                {% comment %} <li>
                                   <a href="{{ section.settings.wholesale }}">Wholesale</a>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="menu-area">
                            <ul class="main-menu">

                                {% for link in linklists.main-menu.links %}
                                {% assign child_list_handle = link.title | handleize %}
                                {% if linklists[child_list_handle].links != blank %}
                                <li class="dropdown dropdown-icon dropdown-mobile">
                                    <a class="menu-link" href="{{ link.url }}" data-toggle="dropdown">{{ link.title }}</a>
                                    <div class="dropdown-menu dropdown-menu-center">
                                        {% for childlink in linklists[child_list_handle].links %}
                                            <a class="dropdown-item" href="{{ childlink.url }}" >{{ childlink.title | escape }}</a>
                                        {% endfor %}
                                    </div> 
                                </li>
                                {% else %}
                                    <li><a class="menu-link" href="{{ link.url }}" >{{ link.title }}</a></li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="header-right d-none d-lg-flex justify-content-end pl-3">
                        <ul class="iconic-menubar d-flex align-items-center">
              
                            {% if shop.customer_accounts_enabled %}
                                <li class="dropdown">
                                    <a href="/" data-toggle="dropdown"><img src="{{ 'user.svg' | asset_url }}"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        {% if customer %}
                                            <a href="/account">Account</a>
                                            {{ 'log out'  | customer_logout_link }}
                                        {% else %}
                                            {{ 'log in ' | customer_login_link }}
                                            {{ 'register' | customer_register_link }}
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %} 

                            <li>
                                <a href="/cart" data-toggle="sidebar" data-ref="cart-sidebar" class="position-relative">
                                    <img src="{{ 'cart.svg' | asset_url }}" alt="">
                                    <span class="cart-count"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
        </nav>
</header>

{% include 'sidebar-cart' %}

{% schema %} 
    {
        "name": "Header",
        "settings": [
            {
                "type": "image_picker", 
                "id": "logo",
                "label": "Logo",
                "info": "Upload Image"
            },
            {
                "type": "text",
                "id": "email",
                "label": "Email Address",
                "default": "sales@uproardistribution.com",
                "info": "Email Address"
            },
            {
                "type": "text",
                "id": "phone",
                "label": "Phone Number",
                "default": "(123) 456-7890",
                "info": "Phone Number"
            },
            {
                "type": "url",
                "id": "wholesale",
                "label": "Wholesale url",
                "info": "Wholesale url"
            }
        ]
    }
{% endschema %} 

