<section class="brands section-pb">
    <div class="container">
        <div class="section-title text-center mb-5 pb-5">
            <h2 class="fz44 text-uppercase fw-700 lh-1 mb-2">{{ section.settings.title }}</h2>
            <p class="fz18 text-uppercase fw-700 ls-2">{{ section.settings.subtitle }}</p>
        </div>
        <div class="brand-slider">
            {%- for block in section.blocks -%}     
            <div class="item">
                <div class="logo">
                    <img src="{{ block.settings.logo | img_url: 'master'}}" alt="">
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>

{% schema %} 
    {
        "name": "Brands",
        "class": "index-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Section Title",
                "default": "Shop our premium brands",
                "info": "Section Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Section Sub Title",
                "default": "Lorem ipsum dolor sit amet consectetur.",
                "info": "Section subtitle"
            }
        ],
        "blocks": [
            {
                "type": "BannerSlider",
                "name": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo",
                        "label": "Image Content",
                        "info": "Upload Image"
                    }
                ] 
            }
        ],
        "presets": [
            {
                "name": "Brands", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 

<script>
    var slider = $(".brand-slider");
    slider.slick({
        infinite: true,
        speed: 500,
        slidesToShow: 4,
        slidesToScroll: 1,
        // variableWidth: true,
        arrows: true,
        prevArrow: '<div class="slick-arrow arrow-prev"><img src="{{ 'arrow-left.svg' | asset_url }}"></div>',
        nextArrow: '<div class="slick-arrow arrow-next"><img src="{{ 'arrow-right.svg' | asset_url }}"></div>',
        responsive: [
            {
                breakpoint: 1400,
                settings: {
                    centerMode: true,
                    variableWidth: true,
                    centerPadding: "20px",
                    slidesToShow: 4
                }
            },
            {
                breakpoint: 640,
                settings: {
                    centerMode: true,
                    variableWidth: true,
                    centerPadding: "10px",
                    slidesToShow: 1
                }
            }
            ]
    })
</script>