<section class="shop-by section-pt section-pb">
    <div class="container">
        <div class="row justify-content-between aling-items-center">
            <div class="col-xl-5 col-md-6 col-sm-12 mb-5">
                <div class="title text-center mb-5">
                    <h3 class="fz40 lh-1 fw-700 text-uppercase mb-2">SHOP BY</h3>
                    <h2 class="fz44 lh-1 text-uppercase">Solution</h2>
                </div>
                <div class="category-slider">
                    <div class="item">
                        <div class="image flex-img mb-5">
                            <img src="https://uproardistribution.com/pub/media/wysiwyg/home/sliders/S2.png" alt="">
                        </div>
                        <div class="button-group mx-auto">
                            <a href="" class="btn btn-primary fz24 px-4">SHOP NOW</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image flex-img mb-5">
                            <img src="https://uproardistribution.com/pub/media/wysiwyg/home/sliders/S2.png" alt="">
                        </div>
                        <div class="button-group mx-auto">
                            <a href="" class="btn btn-primary fz24 px-4">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-6 col-sm-12 mb-5">
                <div class="title text-center mb-5">
                    <h3 class="fz40 lh-1 fw-700 text-uppercase mb-2">SHOP BY</h3>
                    <h2 class="fz44 lh-1 text-uppercase">Category</h2>
                </div>
                <div class="category-slider">
                    {% for collection in collections %}
                    {% unless collection.handle == 'frontpage' %}
                   <div class="item px-5">
                        <div class="image flex-img mb-5">
                            <img src="{{ collection.image | img_url: 'medium' }}" alt="">
                        </div>
                        <div class="button-group mx-auto">
                            <a href="{{ collection.url }}" class="btn btn-primary fz24 px-4">SHOP NOW</a>
                        </div>
                    </div>
                    {% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %} 
    {
        "name": "Shop By",
        "class": "index-section",
        "presets": [
            {
                "name": "Shop By", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 

<script>
    var slider = $(".category-slider");
    slider.slick({
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
        arrows: true,
        prevArrow: '<div class="slick-arrow arrow-prev"><img src="{{'arrow-left.svg' | asset_url }}"></div>',
        nextArrow: '<div class="slick-arrow arrow-next"><img src="{{'arrow-right.svg' | asset_url }}"></div>',
        responsive: [
            {
                breakpoint: 640,
                settings: {
                    dots: true,
                    arrows: false
                }
            }
            ]
    })
</script>
