<section class="home-text">
    <div class="container">
        <div class="py-5 text-center">
            <h2 class="fw-700 fz44 font-title">{{ section.settings.text }}</h2>
        </div>
    </div>
</section>

{% schema %} 
    {
        "name": "Text",
        "class": "index-section",
        "settings": [
            {
                "type": "textarea",
                "id": "text",
                "label": "Text",
                "default": "A Full-Service CBD Solutions Provider",
                "info": "Add Text"
            }
        ],
        "presets": [
            {
                "name": "Text", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 
