<section class="home-welcome pt-5 pb-5 pb-xl-0 pt-xl-0 bg-black">
    <div class="container-space-left">
        <div class="row mx-0 align-items-center justify-content-center">
            <div class="col-xl-7 col-lg-12 pl-xl-0 py-5 text-center text-xl-left">
                <h2 class="text-white text-uppercase fz52 fw-700 mb-4">{{ section.settings.title }}</h2>
                <div class="mx-auto mx-xl-0" style="max-width: 700px; width: 100%;">
                    <p class="text-white mb-4 fz24">{{ section.settings.text }}</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-sm-6 col-12 d-flex justify-content-end pb-5 px-5 p-xl-0">
                <div class="image w-100">
                    <img src="{{ section.settings.image | img_url: 'master' }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %} 
    {
        "name": "About",
        "class": "index-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "THE UPROAR DIFFERENCE",
                "info": "Add Title"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text",
                "default": "Welcome to your source for all things CBD. ",
                "info": "Add Text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image Content", 
                "info": "Upload Image"
            }
        ],
        "presets": [
            {
                "name": "About", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 