<section class="testimonials section-pt section-pb">
    <div class="container">
        <div class="section-title text-center mb-5">
            <h2 class="fz44 fw-700 text-uppercase lh-1">{{ section.settings.title }}</h2>
        </div>
        <div class="row">
            {%- for block in section.blocks -%}    
            <div class="col-md-4 col-sm-6 pr-4">
                <div class="item text-center px-4 py-5">
                    <div class="icon flex-img radius-50 mx-auto mb-4">
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                    </div>
                    <h4 class="text-secondary fz24 text-uppercase fw-700 lh-1 mb-1">{{  block.settings.author }}</h4>
                    <h5 class="text-secondary fz16 text-uppercase fw-700 lh-1 mb-4">{{  block.settings.designation }}</h5>
                    <p class="fz18 fw-500">{{  block.settings.text }}</p>
                </div>
            </div>
            {%- endfor -%}

        </div>
    </div>
</section>

{% schema %} 
    {
        "name": "Testimonials",
        "class": "index-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Section Title",
                "default": "Hear what our brand partners have to say",
                "info": "ection Title"
            }
        ],
        "blocks": [
            {
                "type": "BannerSlider",
                "name": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image Content",
                        "info": "Upload Image"
                    },
                    {
                        "type": "text",
                        "id": "author",
                        "label": "Author",
                        "info": "Author",
                        "default": "John"
                    },
                    {
                        "type": "text",
                        "id": "designation",
                        "label": "Designation",
                        "default": "CEO",
                        "info": "Designation"
                    },
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "Context",
                        "info": "Context",
                         "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    }
                ] 
            }
        ],
        "presets": [
            {
                "name": "Testimonials", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 