<section class="home-banner">
    <div class="banner-slider">
        {%- for block in section.blocks -%}     
        <div class="banner-item">
            <div class="image flex-img w-100 h-100">
                <img src="{{ block.settings.image | img_url:'master' }}" alt="">
            </div>
            <div class="container">
                <div class="banner-content text-center d-flex flex-column align-items-center py-5">
                    <h1 class="text-uppercase font-title fw-700 fz52 text-white mb-5">{{ block.settings.title }}</h1>
                    <a href="{{ block.settings.link }}" class="btn btn-primary btn-lg text-uppercase fw-700">{{ block.settings.linkText }}</a>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</section>

{% schema %} 
    {
        "name": "Banner",
        "class": "index-section",
        "blocks": [
            {
                "type": "BannerSlider",
                "name": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image Content",
                        "info": "Upload Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "info": "Title",
                        "default": "Lorem Ipsum"
                    },
                    {
                        "type": "text",
                        "id": "linkText",
                        "label": "Button Text",
                        "default": "Shop Now",
                        "info": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Button Link",
                        "info": "Button Link"
                    }
                ] 
            }
        ],
        "presets": [
            {
                "name": "Banner", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 

<script>
    var slider = $('.banner-slider');
    slider.slick({
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
        arrows: true,
        prevArrow: '<div class="slick-arrow arrow-prev"><img src="{{'arrow-left.svg' | asset_url }}"></div>',
        nextArrow: '<div class="slick-arrow arrow-next"><img src="{{'arrow-right.svg' | asset_url }}"></div>',
        responsive: [
            {
                breakpoint: 640,
                settings: {
                    dots: true,
                    arrows: false
                }
            }
            ]
    })
</script>

{% stylesheet %}
    .banner-item .image:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0, .3)}
{% endstylesheet %}