<section class="home-wellness bg-black section-pt section-pb">
    <div class="container">
        <div class="section-title text-center mb-2">
            <h2 class="fz52 fw-700 text-white text-uppercase lh-1 mb-2">{{ section.settings.title }}</h2>
            {% if section.settings.subtitle %}
            <p class="text-white fz18 text-uppercase fw-700 ls-2">{{ section.settings.subtitle }}</p>
            {% endif %}
        </div>
        <div class="row mx-0 justify-content-center">
            {%- for block in section.blocks -%}     
            <div class="item-area col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12  px-lg-0">
                <h2 class="title text-white text-center fz28">{{ block.settings.title }}</h2>
                <div class="item">
                    <div class="image flex-img">
                        <img src="{{ block.settings.image | img_url: 'master'}}" alt="">
                    </div>
                    <div class="info">
                        <p class="desp fz16 fw-400">{{ block.settings.info }}</p>
                    </div>
                </div>
            </div>
            {%- endfor -%}
            
        </div>
    </div>
</section>


{% schema %} 
    {
        "name": "Solutions",
        "class": "index-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Section Title",
                "default": "The Uproar Solution",
                "info": "Add Title"
            },
            {
                "type": "textarea",
                "id": "subtitle",
                "label": "Section Subitle",
                "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                "info": "Add Subtitle"
            }
        ],
        "blocks": [
            {
                "type": "BannerSlider",
                "name": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image Content",
                        "info": "Upload Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "info": "Title",
                        "default": "Lorem ipsum"
                    },
                    {
                        "type": "textarea",
                        "id": "info",
                        "label": "Context",
                        "info": "Context",
                         "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    }
                ] 
            }
        ],
        "presets": [
            {
                "name": "Solutions", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 