<section class="product-finder section-pt section-pb">
    <div class="container">
        <form action="/search" method="get" role="search" class="text-center mx-auto" style="max-width: 450px; width: 100%;">
            <h2 class="fz44 text-uppercase fw-700 lh-1 mb-4">Product Finder</h2>
            <div class="form-group px-4">
                <input type="search" name="q" value="{{ search.terms | escape }}" class="form-control">
            </div>
        </form>
    </div>
</section>


{% schema %} 
    {
        "name": "Product Search",
        "class": "index-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Section Title",
                "default": "Product Finder",
                "info": "Add title"
            }
        ],
        "presets": [
            {
                "name": "Product Search", 
                "category": "Home Page"
            } 
        ]
    }
{% endschema %} 