{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<section class="product-main section-pt section-pb">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="product-media ">
                    <div class="product-image mb-4" id="product-main-image" style="transition: opacity .05s ease-in-out">
                        <img class="active" src="{{ featured_image | img_url: 'large' }}"
                            alt="{{ featured_image.alt | escape }}">
                    </div>

                    <div class="product-thumb">
                        {% for image in product.images %}
                        <div class="thumb-item flex-img">
                            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="fw-700 text-uppercase font-title lh-1 mb-2">{{ product.title }}</h1>

                <form action="/cart/add" method="post" enctype="multipart/form-data" class="ajax-cart-form mb-5">

                    <div class="row pt-3 pb-3 {% if product.variants.size == 1  %} d-none {% endif %}">
                        <div class="col-md-6 col-sm-12">
                            <div class="d-flex align-items-center">
                                <label for="Quantity" class="fz18 fw-600 mr-3">Variants</label> 
                                <select name="id" id="productSelect" class="form-control">
                                    {% for variant in product.variants %}
                                    {% if variant.available %}
                                    <option value="{{ variant.id }}">{{ variant.title }}</option>
                                    {% else %}
                                    <option disabled="disabled"> {{ variant.title }} - sold out </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    

                    <h3 class="fw-700 mb-2 product-price">{{ current_variant.price | money }}</h3>

                    <div class="form-group d-flex align-items-center">
                        <label for="Quantity" class="fz18 fw-600 mr-3">Quantity</label>
                        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="form-control" style="max-width: 200px;">
                    </div>

                    <button type="submit" name="add" class="px-5 btn btn-primary" {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                        {% if current_variant.available %}
                            Add to cart
                        {% else %}
                            Sold Out
                        {% endif %}
                    </button>
                </form>

                <div>{{ product.description }}</div>
            </div>
        </div>
    </div>
</section>

<script>

    // Change Product Image on click thumb
    const activeImage = $(".product-image");
    const productThumb = $(".product-thumb .thumb-item");

    activeImage.css({
        'min-height': activeImage.innerHeight()+'px'
    })

    productThumb.on('click', function(e){
        var imgSrc = $(this).find('img').prop('src');
        activeImage.html(`<img src="${imgSrc}">`);
    })

    // Change price value on change varient
    var price = '{{product.price}}';
    $("#productSelect").on("change", function(){
        activeImage.css({
            'opacity': '0'
        })
        var val = $(this).val();
         jQuery.getJSON('/products/{{product.handle}}.js', function(product) {
            product.variants.forEach(variant => {
                if(variant.id == val){
                    price = variant.price /100;
                    if(variant.featured_image){
                        activeImage.html(
                            `<img src="${variant.featured_image.src}">`
                        );
                        activeImage.css({
                            'opacity': '1'
                        })
                    }else {
                        $('#product-main-image').html(
                            `<img src="https://via.placeholder.com/600x600/fafafa/EEEEEE/?text= No image found">`
                        );
                    }
                    if(variant.available){
                        if($('button[type="submit"]').hasClass('btn-light')){
                            $('button[type="submit"]').removeClass('btn-light').addClass('btn-primary').text('Add to cart')
                        }
                    }else {
                        if($('button[type="submit"]').hasClass('btn-primary')){
                            $('button[type="submit"]').removeClass('btn-primary').addClass('btn-light').text('Sold out')
                        }
                    }
                }
            });
            $('.product-price').text('$'+parseFloat(price).toFixed(2));
        } );
    });
</script>