/*--------------------------------------------------------------
Theme Reset Style
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    // scroll-behavior: smooth;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
   padding: 0;
}

a {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

button,
button:active,
button:hover,
button:focus {
    box-shadow: none;
    outline: none;
    outline: none;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

// Core variables and mixins
// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
$white: #ffffff;
$black: #000000;
$dark: #333333;
$lightDark: #4F4F4F;
$gray: #828282;
$darkGray: #4C4C4C;
$lightGray: #FAFAFA;

// Theme Colors
$primaryColor: {{ settings.primaryColor }};
$secondaryColor: {{ settings.secondaryColor }};

$baseTextColor: $black;       

$bodyBg: {{ settings.bodyBg }};
$primaryBg: #FAFAFA;
$footerBg: #FAFAFA;

$btnColor: #022C82; 

$borderColor: #e9e9e9;

$errorColor: #FF3326;

$baseFontSize: 16;
$fontPrimary: 'Montserrat', sans-serif;
$fontTitle: 'El Messiri', sans-serif;


$sectionSpace : 100px;
$sectionSpaceRes : 40px;

$formElementHeight: 48px;
$formElementHeightRes: 40px;

/*--------------------------------------------------------------
Functions
--------------------------------------------------------------*/
@function rem($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)){
       $pixels: $pixels * 1px;
   }
   @if (unitless($context)) {
       $context: $context * 1px;
   }
   @return $pixels / $context * 1rem;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
.font-title{
    font-family: $fontTitle;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.7;
    font-weight: 400;
    margin: 0;
}

.h1,
h1 {
    font-size: rem(44);
    line-height: 55px;
    @media(max-width: 767px){
        font-size: rem(30);
        line-height: 1.2;
    }
}

.h2,
h2 {
    font-size: rem(36);
    @media(max-width: 767px){
        font-size: rem(28);
    }
}

.h3,
h3 {
    font-size: rem(28);
    @media(max-width: 767px){
        font-size: rem(20);
    }
}

.h4,
h4 {
    font-size: rem(24);
}

.h5,
h5 {
    font-size: rem(20);
}

.h6,
h6 {
    font-size: rem(16);
}

p{
    font-size: rem(20);
    @media(max-width: 767px){
        font-size: rem(16);
    }
}

a{
    color: $primaryColor;
    transition: .3s ease-in-out;
    &:hover{
        color: $primaryColor;
    }
}

// Font Weight
// ==============================
.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

// font Sizes
// =================================
.sml {
    font-size: rem(12);
}

.fz10 {
    font-size: rem(10);
}

.fz11 {
    font-size: rem(11);
}

.fz12 {
    font-size: rem(12);
}

.fz13 {
    font-size: rem(13);
}

.fz14 {
    font-size: rem(14);
}

.fz15 {
    font-size: rem(15);
}

.fz16 {
    font-size: rem(16);
}

.fz18 {
    font-size: rem(18);
}

.fz19 {
    font-size: rem(19);
}

.fz20 {
    font-size: rem(20);
}

.fz22 {
    font-size: rem(22);
    @media(max-width: 639px){
        font-size: rem(16);
    }
}

.fz24 {
    font-size: rem(24);

    @media(max-width: 1300px){
        font-size: rem(18);
    }
}

.fz28 {
    font-size: rem(28);

    @media(max-width: 639px){
        font-size: rem(24);
    }
}

.fz40 {
    font-size: rem(40);
    @media(max-width: 767px){
        font-size: rem(32);
    }
}
.fz44 {
    font-size: rem(44);
    @media(max-width: 767px){
        font-size: rem(35);
    }
}

.fz52 {
    font-size: rem(52);
    @media(max-width: 1300px){
        font-size: rem(40);
    }
}
.fz60 {
    font-size: rem(60);
    @media(max-width: 767px){
        font-size: rem(40);
    }
}

// Line Height
// =================================
.lh-1{
    line-height: 1.2 !important;
}

.ls-2 {
    letter-spacing: 2px;
}

/*--------------------------------------------------------------
#1.3 Animations
--------------------------------------------------------------*/
.hover-zoom{
    img{
        transition: .12s ease-in-out;
        transform: scale(1);
    }
    &:hover img{
        transform: scale(1.05);
    }
}

/*--------------------------------------------------------------
Colors
--------------------------------------------------------------*/
.text-gray {
    color: $darkGray !important;
}

.text-black {
    color: $black !important;
}

.text-secondary {
    color: $secondaryColor !important;
}

.text-primary {
    color: $primaryColor !important;
}

.bg-gray {
    background-color: $lightGray !important;
}

.bg-black {
    background-color: $black !important;
}
/*--------------------------------------------------------------
Grid System
--------------------------------------------------------------*/
.container {
    max-width: 1355px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    &.container-lg{
        max-width: 1500px;
    }

    @media(min-width: 1921px){
        max-width: 70%;
    }
    
    @media(min-width: 1407px){
        max-width: 1355px;
    }
    
    @media(max-width: 1023px){
        max-width: 90%;
    }
}

.container-sm{
    max-width: 1020px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-space-right,
.container-space-left {
    @media (max-width: 1199px){
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container-space-right {
    @media(min-width: 1500px){
        padding-right: calc((100vw - 1370px) / 2);
    }
    @media(min-width: 1200px){
        padding-right: 5rem;
    }

}

.container-space-left {
    @media(min-width: 1500px){
        padding-left: calc((100vw - 1370px) / 2);
    }
    @media(min-width: 1200px){
        padding-left: 5rem;
    }
}

/*--------------------------------------------------------------
Spacings
--------------------------------------------------------------*/
.section-pt{
    padding-top: $sectionSpace;
    @media(max-width: 767px){
        padding-top: $sectionSpaceRes;
    }
}

.section-pb{
    padding-bottom: $sectionSpace;
    @media(max-width: 767px){
        padding-bottom: $sectionSpaceRes;
    }
}

/*--------------------------------------------------------------
Common Styles
--------------------------------------------------------------*/
body,
html {
    max-width: 100%;
    min-height: 100vh;
    font-size: $baseFontSize + px;
    font-family: $fontPrimary;
    padding: 0;
    margin: 0;
    color: $baseTextColor;
    background: $bodyBg;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // overflow-x: hidden;
    @media (max-width: 1600px) {
        font-size: $baseFontSize + px;
    }

    @media (max-width: 1200px) {
        font-size: $baseFontSize - 2 + px;
    }

    @media (max-width: 1024px) {
        font-size: $baseFontSize - 3 + px;
    }

    @media (max-width: 767px) {
        font-size: $baseFontSize - 4 + px;
    }
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fit-content {
    width: fit-content;
    height: auto;
}

.vh-100 {
    min-height: 100vh;
}

.flex-img {
    display: flex;
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.radius-8{
    overflow: hidden;
    border-radius: 8px;
}

.radius-50 {
    overflow: hidden;
    border-radius: 50%;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

/*--------------------------------------------------------------
Layout Styles
--------------------------------------------------------------*/
main {
    position: relative;

    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($black, .6);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease-in-out;
        z-index: 9;
    }

    &.overlay {
        overflow: hidden;

        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
}

.sticky-top{
    z-index: 99;
}

.section-title {
    margin-bottom: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 767px) {
        margin-bottom: 40px;
    }
}

.scrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: #F5F5F5; 
        opacity: .1;
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: $primaryColor;
    }
}

.back-to-top{
    position: fixed;
    bottom: 47px;
    right: -5px;
    background-color: #000;
    padding: 3px 10px;
    transform: rotate(-90deg) translateY(75px);
    color: #fff;
    height: 30px;
    padding-right: 30px;
    opacity: .2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: .5s ease-in-out;
    z-index: 99;

    &:hover, &:focus{
        color: $white;
        opacity: 1;
        text-decoration: none;
    }
    i{
        transform: rotate(90deg) translateX(-15px);
        position: absolute;
        top: 13.5px;
        right: 6px;
        display: block;
        font-size: 20px;
    }
    &.show{
        transform: rotate(-90deg) translateY(45px);
    }
}

.dropdown {
    .dropdown-menu-right{
        left: auto;
        right: 0;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 999;
    transition:  .3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &.sidebar-right .sidebar-container{
        left: auto;
        right: 0;
        transform: translateX(calc(100% + 55px));

        .sidebar-close-btn{
            right: 0;
            left: -55px;
            @media(max-width: 479px){
                left: -40px;
            }
        }
    }

    &.show{
        background-color: rgba($black, .6);
        visibility: visible;
        opacity: 1;

        .sidebar-container{
            transform: translateX(0px);
        }
    }

    .sidebar-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 100vh;
        background-color: $white;
        transform: translateX(calc(- 100% - 55px));
        transition: .5s all ease-in-out;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media(max-width: 479px){
            width: 250px;
        }

        .sidebar-close-btn{
            position: absolute;
            right: -55px;
            top: 20px;
            background-color: $white;

            @media(max-width: 479px){
                right: -40px;
            }
        }

        .sidebar-body{
            padding: 15px 15px;
            position: relative;
            height: calc(100vh - 120px);

            .title{
                padding-bottom: 15px;
                border-bottom: 2px solid $borderColor;
                margin-bottom: 15px;
                top: 0;
            }
            .sidebar-content{
                height: calc(100% - 66px);
            }
        }
        .sidebar-footer{
            padding: 15px;
            border-top: 2px solid $borderColor;
        }
    }
}

.menu-card{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $borderColor;
    .image{
        width: 50px;
    }
    .item-info{
        width: calc(100% - 65px);
    }
    .item-action{
        width: 50px;
    }
}

.preloader {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    height: calc(100vh - 70px);
    overflow: hidden;

    &.visible {
        visibility: visible;
        opacity: 1;
        height: auto;
        overflow: visible;
    }
}


/*--------------------------------------------------------------
Slick Styles
--------------------------------------------------------------*/
.slick-slide {
    outline: none !important;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 70px;

    @media (max-width: 1300px){
        width: 40px;
    }

    &.arrow-prev{
        left: 50px;
    }
    &.arrow-next{
        right: 50px;
    }
}

.slick-dots{
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
    align-items: center;

    li{
        width: 4px;
        height: 4px;
        background-color: rgba($white, .5);
        margin: 0 4px;
        border-radius: 4px;
        transition: .3s ease-in-out;
        cursor: pointer;

        &.slick-active{
            width: 14px;
            background-color: rgba($white, 1);
        }
        
        button{
            display: none;
        }
    }
}

/*--------------------------------------------------------------
Button Styles
--------------------------------------------------------------*/
.button-group{
    display: flex;
    width: fit-content;
}

.btn{
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    position: relative;
    border-radius: 4px;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;

    &:active,
    &:hover,
    &:focus {
        box-shadow: none !important;
        outline: none;
        border-color: transparent;
    }

    &:hover{
        border-radius: 15px 4px 15px 4px;
    }

    &.btn-lg {
        @media (min-width: 1200px){
            min-height: 67px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: rem(22);
        }
    }

    &.btn-primary{
        background-color: $primaryColor !important;
        border-color: $primaryColor !important;
    }

    &.btn-outline {
        background-color: transparent !important;
        border-color: rgba($secondaryColor, .2) !important;
    }
}

.form-group {
    width: 100%;
    position: relative;
    margin-bottom: 24px;

    &:before{
        font: normal normal normal 24px/1 "Material Design Icons";
        content: '\F1238';
        width: 24px;
        height: 24px;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $errorColor;
        border-radius: 50%;
        color: $white;
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        padding: 5px;
        visibility: hidden;
        opacity: 0;
    }

    .help-block{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        font-size: rem(10);
        color: $errorColor;
        left: 0;
        bottom: -15px;
    }

    &.error {
        &:before{
            visibility: visible;
            opacity: 1;
        }
        .form-label {
            color: $errorColor !important;
        }
        .form-control{
            padding-right: 50px;
            border: 2px solid $errorColor !important;
            color: $errorColor !important;
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active  {
                -webkit-text-fill-color: $errorColor !important;
            }
        }
        .help-block{
            visibility: visible;
            opacity: 1;
        }
    }

    &.focus{
        .form-label{
            color: $primaryColor;
            font-weight: 500;
        }
        .form-control {
            border-color: $primaryColor;
            &.form-select{
                background: linear-gradient(45deg, transparent 50%, $primaryColor 50%), linear-gradient(135deg, $primaryColor 50%, transparent 50%);
                background-position: calc(100% - 21px) calc(1em + 6px),calc(100% - 16px) calc(1em + 6px),100% 0;
                background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                background-repeat: no-repeat;
                @media(max-width: 639px){
                    background-position: calc(100% - 21px) calc(1em + 3px),calc(100% - 16px) calc(1em + 3px),100% 0;
                }
            }
        }
    }

    .form-label {
        font-size: rem(12);
        font-weight: 300;
        line-height: 14px;
        color: #4c4c4c;
        margin: 0;
        padding: 0 5px;
        cursor: pointer;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 11px;
        transform: translateY(-50%);
        z-index: 9;
    }

    .form-control {
        width: 100%;
        min-height: $formElementHeight;
        border-radius: 4px;
        background: #FFFFFF;
        border: 2px solid $borderColor;
        display: flex;
        align-items: center;
        padding: 8px 13px;
        font-size: rem(18);
        font-weight: 300;
        outline: none;
        color: $black;
        font-weight: 400;
        filter: none;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;

        &.form-select{
            padding-right: 42px;
            background: linear-gradient(45deg, transparent 50%, $borderColor 50%), linear-gradient(135deg, $borderColor 50%, transparent 50%);
            background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
            background-repeat: no-repeat;
            background-position: calc(100% - 21px) calc(1em + 6px),calc(100% - 16px) calc(1em + 6px),100% 0;
            color: $black !important;
            font-size: rem(14);
            color: $black !important;
            @media(max-width: 639px){
                background-position: calc(100% - 21px) calc(1em + 3px),calc(100% - 16px) calc(1em + 3px),100% 0;
            }
        }

        &:focus{
            outline: none;
            box-shadow: none;
            border-color: $primaryColor;
        }

        &::placeholder{
            font-size: rem(18);
            color: #8E8E93;
            opacity: 1;
        }

        @media(max-width: 639px){
            min-height: $formElementHeightRes;
            padding: 5px 8px;
        }

        // &:-moz-autofill,
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }

    }

    [type='submit'] {
        min-height: $formElementHeight;

        @media (max-width: 639px){
            min-height: $formElementHeightRes;
        }
    }
}

.ajs-message{
    font-weight: 500;
    border: 1px solid $primaryColor;
    text-transform: uppercase;
    letter-spacing: 2px; 

    &.ajs-success, &.ajs-error {
        color: $white;
    }
}

/*--------------------------------------------------------------
Site Header
--------------------------------------------------------------*/
$headerHeight: 72px;

.site-header{
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    background-color: $white;
    z-index: 999;
    
    .site-nav{
        min-height: $headerHeight;
        width: 100%;

        @media(max-width: 990px){
            min-height: 60px;
        }
    }

    .nav-content{
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;

        .site-brand{
            max-width: 100px;
            width: 100%;
            margin-right: 40px;
            @media(max-width: 990px){
                margin-right: 45px;
                max-width: 34px;
            }

            img{
                @media (min-width: 991px){
                    height: 75px;
                    width: auto;
                }
            }
        }

        .menu-area-right{
            @media(max-width: 990px){
                margin-right: 45px;
            }
            .main-menu{
                li{
                    margin-left: 32px;
                    &:first-child{
                        margin-left: 0;
                    }
                    @media(max-width: 479px){
                        margin-left: 15px;
                    }
                    a{
                        color: $black;
                        font-weight: 600;
                        line-height: 24px;
                        position: relative;
                        &.menu-icon{
                            font-size: rem(24);
                            position: relative;

                            .counter{
                                position: absolute;
                                background-color: $black;
                                border-radius: 50px;
                                color: $white;
                                font-size: 10px;
                                min-width: 15px;
                                height: 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                top: 0;
                                right: 0;
                                padding: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-count {
        position: absolute;
        font-size: 10px;
        color: $black;
        min-width: 16px;
        height: 16px;
        background: lighten($primaryColor, 20);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: 0;
        right: -5px;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease-in-out;

        @media (max-width: 990px){
            top: -6px;
            right: -5px;
            min-width: 14px;
            height: 14px;
            font-size: 8px;
        }
    }

    ul, ol{
        list-style: none;
        li{
            margin: 0;
            padding: 0;
        }
    }
}

.topbar {
    padding-top: 8px;
    padding-bottom: 26px;
    position: relative;
    margin-bottom: 18px;

    @media (max-width: 990px){
        display: none;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 8px;
        border-radius: 8px;
        background-color: $black;
        bottom: 0;
        left: 0;
    }
}

ul.iconic-menubar{
    li{
        margin-right: 15px;
        display: flex;
        align-items: center;
        a {
            display: flex;
            font-size: rem(16);
            text-transform: uppercase;
            font-weight: 700;
            color: $black;
            @media (max-width: 990px){
                font-size: rem(14);
            }
            img {
                height: 20px;
                width: auto;

                @media (max-width: 990px){
                    height: 16px;
                }
            }
        }
    }
}

.header-right {
    max-width: 140px;
    width: 100%;
    padding-top: 8px;
    align-self: flex-start;
    margin-top: 10px;

    ul.iconic-menubar{
        justify-content: flex-end;
        li a img{
            height: 25px;
        }
    }
}

.menu-area{
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: 990px){
        position: fixed;
        top: 60px;
        right: 0;
        transform: translateX(100%);
        max-width: 250px;
        width: 100%;
        height: calc(100vh - 60px);
        z-index: 9999;
        padding: 50px 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: .6s ease-in-out;
        background-color: $white;
        &.show{
            transform: translateX(0);
        }
    }

    .main-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;


        @media(max-width: 990px){
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            margin-bottom: 24px;
        }
        li{
            margin: 0 15px;
            @media(max-width: 990px){
                margin-right: 0;
                margin-bottom: 12px;
                margin-left: 0;
            }
            a{
                color: $black;
                font-weight: 700;
                line-height: 24px;
                position: relative;
                font-size: rem(20);
                text-transform: uppercase;

                @media(max-width: 1200px){
                    font-size: rem(14);
                }
                @media(max-width: 990px){
                    font-size: rem(24);
                }

            }

        }
    }
}

.menu-toggler{
    width: 20px;
    position: relative;
    overflow: hidden;

    @media(min-width: 991px){
        display: none;
    }

    .line{
        width: 100%;
        height: 2px;
        margin: 5px 0;
        background-color: #000;
        transform: translateX(0px);
        transition: transform 0.2s ease;
        display: block;

        &.line1{
            transition-delay: .1s;
        }
        &.line2{
             transition-delay: .2s;
        }
        &.line3{
            width: 71%;
            transition-delay: .3s;
        }
    }

    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        border-radius: 5px;
        left: 9px;
        transition: transform 0.3s ease;
    }
    &:before{
        transition-delay: 0s;
        transform: translateY(-20px) translateX(-20px) rotate(-45deg);
    }

    &:after{
        transition-delay: .2s;
        transform: translateY(-30px) translateX(30px) rotate(45deg);
    }

    &.animate {
        .line{
            transform: translateX(20px);
        }
    }
    &.show{
        &:before, &:after{
            visibility: visible;
            opacity: 1;
        }

        &:before{
            transform: translateY(0px) translateX(0px) rotate(-45deg);
        }
        &:after{
            transform: translateY(0px) translateX(0px) rotate(45deg);
        }
    }
}

.mobile-menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.dropdown {
    &.dropdown-icon > a {
        padding-right: 25px;
        position: relative;
        &:after {
            position: absolute;
            font: normal normal normal 24px/1 "Material Design Icons";
            content: '\F0140';
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
    &>.dropdown-menu {
        transition: .3s ease-in-out;
        display: block !important;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        left: 50%;
        transform: translateY(-8px) translateX(-50%);
        box-shadow: 2px ​4px 3px 2px rgba(0,0,0, .05);

        &>a{
            font-size: 15px !important;
            border-bottom: 1px solid $primaryColor;
            background-color: $white; 
            padding: 6px 1.5rem;

            &:hover {
                color: $primaryColor;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
    .dropdown-menu:hover,
    &>.dropdown-menu.show,
    &>a:hover + .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px) translateX(-50%);
    } 
}

.dropdown-mobile {
    @media(max-width: 990px){
        &>.dropdown-menu {
            position: relative;
            left: auto;
            top: auto;
            transform: unset !important;
            box-shadow: none;
            max-height: 0;
            box-shadow: none;
            border: none;
            overflow: hidden;
            
    
            &>a{
                font-size: 15px !important;
                border-bottom:none;
                background-color: $white; 
                padding: 3px 1.5rem;
    
                &:hover {
                    color: $primaryColor;
                }
    
                &:first-child {
                    margin-top: 5px;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    
        &>.dropdown-menu.show {
            max-height: 300px;
        } 
    }
}

#shopify-section-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

/*--------------------------------------------------------------
Site Footer Styles
--------------------------------------------------------------*/
.site-footer{
    background-color: $white;
    border-top: 25px solid $black;
    .footer-main {
        display: flex;
        align-items: center;
        padding: 80px;

        @media (max-width: 1199px){
            padding: 40px;
        }
        @media (max-width: 575px){
            padding: 60px 30px;
            flex-direction: column;
        }

        .logo{
            max-width: 120px;
            @media (max-width: 639px){
                max-width: 90px;
            }
        }

        .footer-content{
            padding: 40px 50px;
            position: relative;
            max-width: 600px;
            width: 100%;
            margin-left: 70px;

            @media (max-width: 575px){
               margin-left: 0;
               margin-top: 40px;
               padding: 0;
               text-align: center;
            }

            &:after {
                content: '';
                position: absolute;
                height: 100%;
                width: 4px;
                background-color: $secondaryColor;
                border-radius: 4px;
                left: 0;
                top: 0;
                @media (max-width: 575px){
                    display: none;
                }
            }
        }
    }

    ul.iconic-menubar li{
        margin: 0 8px;
    }
}

.footer-social .iconic-menubar li a img{
    height: 30px;
}

/*--------------------------------------------------------------
Page Defined Styles
--------------------------------------------------------------*/
.banner-item {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    @media(min-width: 1200px){
        min-height: calc(100vh - 62px);
    }
    
    .image{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        max-width: 980px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-content {
        position: relative;
        z-index: 9;
        max-width: 500px;
        width: 100%;

        @media (max-width: 1148px){
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.home-wellness{
    .item-area{
        display: flex;
        flex-flow: column;
        // height: 100%;
    }

    .title{
        padding: 50px 0;
        text-transform: uppercase;
        flex: 0 1 auto;
    }
    .item{
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: 8px solid $primaryColor;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
        }
        .image{
            width: 100%;
            display: flex;
            height: 210px;
            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
                filter: grayscale(1) brightness(0.9);
            }
        }
        .info{
            min-height: 210px;
            display: flex;
            align-items: center;
            background-color: #FFF;
            padding: 35px 45px;
            flex-grow: 1;
            .desp{
                color: #9f9f9f;
            }
        }
        &.active,
        &:hover {
            &:after {
                visibility: visible;
                opacity: 1;
            }

            .info {
                background-color: #000;
                .desp {
                    color: #fff;
                }
            }
        }
    }
}

.category-slider {
    .item {
        position: relative;
        .image {
            @media (min-width: 767px){
                height: 300px;
            }
            img {
                object-fit: contain;
            }
        }
        .button-group {
            display: flex;
            justify-content: center;
        }
    }

    .slick-arrow{
        top: 40%;
        width: 30px;
        img{
            filter: brightness(0);
        }

        &.arrow-prev{
            left: 0;
        }
        &.arrow-next{
            right: 0;
        }
    }

    .slick-dots{
        bottom: 2vh;
        left: 4vw;
        transform: none;
        li {
            background-color: $black;
        }
    }
}

.testimonials{
    .row > [class*='col-']:nth-child(2) .item:after{
        background-color: #EFEAE5;
    }
    .item{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% - 110px);
            bottom: 0;
            left: 0;
            background-color: #F1F1F1;
            z-index: 0;
        }
        &>* {
            position: relative;
            z-index: 1;
        }

        .icon {
            width: 120px;
            height: 120px;
        }
    }
}

.brands{
    .brand-slider{
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100vw - 150px);
        @media(min-width: 1248px){
            max-width: calc(100vw - 400px);
        }

        .logo {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-height: 90px;
                max-width: 220px;
                height: auto;
                width: auto;
            }
        }
        
        .slick-arrow {
            width: 60px;
            filter: brightness(0);

            @media (max-width: 1399px){
                width: 40px;
                background-color: $primaryColor;
                padding: 10px;
                filter: none;
            }

            &.arrow-prev{
                left: -120px;
                @media (max-width: 1400px){
                    left: -50px;
                }
            }
            &.arrow-next{
                right: -120px;
                @media (max-width: 1400px){
                    right: -50px;
                }
            }
        }

        .slick-slide {
            margin: 0 15px;
        }

    }
}

.product-finder{
    background-color: #fafafa;
    .form-group input {
        border: 4px solid #8A8E93;
        border-radius: 8px;
        height: 56px;
        background-color: #fff; 
    }
}

.blog-banner{
    min-height: 350px;

    @media (max-width: 767px){
        min-height: 200px;
    }
    @media (max-width: 639px){
        min-height: 150px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .page,
    .page a{
        min-width: 32px;
        height: 32px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
    }
    .page {
        margin: 0 8px;
        background-color: $primaryColor;
        &.current {
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
        }
    }
    .page a{
        min-width: 32px;
        height: 32px;
        background-color: transparent;
    }

    .next, .prev { 
        a{
            height: 32px;
            border-radius: 8px;
            display: flex;
            padding: 0 10px;
            justify-content: center;
            align-items: center;
            color: $white;
            background-color: $primaryColor;
        }
    }
}


.search-form {
    input, button[type="submit"] {
        min-height: 52px;
        border-radius: 0px;
        box-shadow: none !important;

        @media (max-width: 640px){
            min-height: 42px
        }
    }
}

.search-result {
    .item {
        @media (max-width: 640px){
            flex-direction: column;
        }

        .content {
            @media (max-width: 640px){
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

.product-main {
    .product-media {
        display: flex;
        flex-direction: column;

        .product-image {
            display: flex;

            img {
                width: 100%;

                &.active {
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }

        .product-thumb {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow: hidden;

            .thumb-item {
                cursor: pointer;
                max-width: 80px;
                width: 100%;
                margin-bottom: 15px;
                height: 80px

            }
        }
    }
}

.shopify-challenge__container{
    padding-top: $sectionSpace;
    padding-bottom: $sectionSpace;
    @media(max-width: 767px){
        padding-top: $sectionSpaceRes;
        padding-bottom: $sectionSpaceRes;
    }
    .shopify-challenge__button{
        outline: none;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        position: relative;
        border-radius: 4px;
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: $primaryColor !important;
        border-color: $primaryColor !important;
        color: $white;
        font-weight: 700;
    }
}

.item-product{
    .image{
        display: flex;
        height: 300px;
        img{
            object-fit: contain;
            object-position: center;
        }
    }
}
