<section class="section-pt section-pb">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-1 fz52 fw-700 font-title">{{ 'general.404.title' | t }}</h2>
            <p>{{ 'general.404.subtext_html' | t }}</p>
        </div>
    </div>
</section>