<section class="blog-banner bg d-flex align-items-center justify-content-center text-center mb-5"
	style="background-image: url( {{ article.image.src | img_url: 'master' }} );">
	<h2 class="text-uppercase fz52 fw-700">{{ article.title }}</h2>
</section>

<section class="article section-pb">
	<div class="container">
		<h3 class="mb-4 fw-600">
			{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
			{% capture date %}<time
				datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
			{{ article.author }} @ {{ article.created_at }}
		</h3>

		<div>{{ article.content }}</div>
		{% if blog.comments_enabled? %}
		<h2>{{ number_of_comments }} comments</h2>
		{% paginate article.comments by 5 %}
		{% for comment in article.comments %}
		<div>
			<div>{{ comment.content }}</div>
			{{ comment.author }} @ {{ comment.created_at }}
		</div>
		{% endfor %}
		{% if paginate.pages > 1 %}
		{{ paginate | default_pagination }}
		{% endif %}
		{% endpaginate %}

		<div>
			{% form 'new_comment', article %}
			{{ form.errors | default_errors }}
			<label for="CommentAuthor">name</label>
			<input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}"
				autocapitalize="words">

			<label for="CommentEmail">email</label>
			<input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}"
				autocorrect="off" autocapitalize="off">

			<label for="CommentBody">message</label>
			<textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

			<input type="submit" value="post">
			{% endform %}
		</div>
		{% endif %}
	</div>
</section>