{% paginate blog.articles by 10 %}


{% section 'blog-banner' %}


<section class="blog-posts section-pb section-pt">
	<div class="container">
		<div class="row mb-4">

			{% for article in blog.articles %}
				{% if forloop.index > 3 and forloop.index < 8 %}
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4 px-2">
				{% else %}
				<div class="col-xl-4 col-lg-4 col-sm-6 col-12 mb-4 px-2">
				{% endif %}
					<a href="{{ article.url }}"
						class="item d-flex flex-column align-items-center justify-content-center text-center">
						<div class="image flex-img w-100" style="height: 250px;">
							<img src="{{ article.image.src | img_url: 'master' }}" alt="">
						</div>
						<div class="p-4 border w-100">
							<h3 class="text-secondary fw-600 mb-3 lh-1 text-uppercase">{{ article.title }}</h3>
							<p class="mb-4 fz16 fw-500 text-black">{{ article.content | strip_html | truncatewords: 15 }}</p>
							<button class="btn btn-outline fit-content mx-auto fw-500 text-black">read more</button>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>

		</div>

		<div class="pagination">
			{{ paginate | default_pagination }}
		</div>
</section>



{% endpaginate %}