<section class="cart-area section-pt section-pb">
	<div class="container">
		{% if cart.item_count > 0 %}
		<div class="section-title mb-5 border-bottom">
			<h2 class="fz42 fw-700 font-title text-uppercase">cart</h2>
		</div>
		<form action="/cart" method="post" novalidate>

			{% for item in cart.items %}
			<div class="d-flex flex-wrap mb-5">
				<div class="image mr-3">
					<a href="{{ item.url | within: collections.all }}" class="flex-img" style="width: 200px; height: 220px;">
						<img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
					</a>
				</div>
				<div class="content">
					<a class="fz24 font-title text-uppercase fz-600" href="{{ item.url }}">{{ item.product.title }}</a>
					{% if item.variant.length > 1 %}
					<p>{{ item.variant.title }}</p>
					{% endif %}
					<h5 class="fz18 fw-600 mb-2">{{ item.price | money }}</h5>
					<div class="form-group d-flex align-items-center">
						<label class="mr-3">Qunatity:</label>
						<input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" class="form-control" style="max-width: 200px">
					</div>
					{% comment %} <div>
						{% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
						{{ item.line_price | money }}
						{% for discount in item.discounts %}{{ discount.title }}{% endfor %}
					</div> {% endcomment %}
					<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn-danger mt-3 fit-content">Remove</a>
				</div>
			</div>
			{% endfor %}

			<div class="d-flex flex-column justify-content-end align-items-end border-top pt-4">
				<p class="mb-4">Sub Total : <strong>{{ cart.total_price | money }}</strong></p>
				<div class="d-flex">
					<button type="submit" name="update" class="btn btn-success mr-4">Update</button>
					<button type="submit" name="checkout" class="btn btn-primary">Checkout</button>
				</div>
			</div>

			</div>
		</form>
		{% else %}
		<div class="section-title text-center mb-0">
			<h2 class="fz42 fw-700 font-title text-uppercase">Cart is empty</h2>
		</div>
		{% endif %}
	</div>
</section>