{% paginate collection.products by 20 %}

<section class="section-pt section-pb">
    <div class="container">
        <div class="row product-filter border-bottom mb-5 justify-content-between">
            <div class="col-xl-6 col-md-4 col-sm-4 page-title mb-4">
                <h1 class="fw-700 font-title text-uppercase">{{ collection.title }}</h1>
            </div>
        </div>
        <div class="product-list">
            <div class="row mb-5">
                {% for product in collection.products %}
                <div class="col-md-3 mb-5">
                    {% include 'product-item' %}
                </div>
				{% else %}
					<h2 class="text-center">no matches</h2>
				{% endfor %}
            </div>
			{% if paginate.pages > 1 %}
            <div class="pagination">
				{{ paginate | default_pagination }}
            </div>
			{% endif %}
        </div>
    </div>
</section>

{% endpaginate %}