{% paginate collection.products by 15 %}

<section class="section-pt section-pb">
    <div class="container">
      <div class="row product-filter border-bottom mb-5 justify-content-between">
            <div class="col-xl-6 col-md-4 col-sm-4 page-title mb-4">
                <h1 class="fw-700">{{ collection.title }}</h1>
            </div>
            <div class="col-xl-4 col-md-8 col-sm-8">
                <div class="row filters mb-4">
                    <div class="col-6 pr-0">
                        <div class="form-group">
                            <label for="filterByTag" class="form-label text-nowrap mb-0 mr-3">Filter By</label>
                            <select name="" id="filterByTag" class="form-control form-select">
                                <option value="" selected>All</option>
                              	{% for tag in collection.all_tags %}
                                  <option value="{{ tag | handle }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="form-group">
                            <label for="shortByFilter" class="form-label text-nowrap mb-0 mr-3">Sort By</label>
                            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
							  
                            <select name="SortBy" id="shortByFilter" class="form-control form-select">
                                <option value="" disabled selected>Select</option>
								{%- for option in collection.sort_options -%}
								<option value="{{ option.value }}" {% if option.value == collection.sort_by %} selected {% endif %}>{{ option.name }}</option>
								{%- endfor -%}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
        <div class="product-list">
            <div class="row justify-content-center mb-5">
                {% for product in collection.products %}
                <div class="col-md-3 mb-5">
                    {% include 'product-item' %}
                </div>
				{% else %}
					<h2 class="text-center">no matches</h2>
				{% endfor %}
            </div>
			{% if paginate.pages > 1 %}
            <div class="pagination">
				{{ paginate | default_pagination }}
            </div>
			{% endif %}
        </div>
    </div>
</section>

{% endpaginate %}


<script>
	var filterSelect = $('#filterByTag');
	var shortSelect = $('#shortByFilter');
	var base = window.location.protocol + "//" + window.location.host;
	var productUrl = base + '/collections/all/';
    var searchParam = '';

    if(window.location.search){
        searchParam =  window.location.search.replace("?sort_by=", "");
        console.log('searchParam:', searchParam) 
        shortSelect.val(searchParam).change();
    }

	filterSelect.on('change', function () {
		var val = $(this).val();

		if (shortSelect.val()) {
			window.location.href = productUrl + val + '?sort_by=' + shortSelect.val();
		} else if(val){
			window.location.href = productUrl + val;
		}else{
            window.location.href = productUrl;
        }

	})

	shortSelect.on('change', function () {
		var val = $(this).val();

		if (filterSelect.val()) {
			window.location.href = productUrl + filterSelect.val() + '?sort_by=' + val;
		} else {
			window.location.href = productUrl + "?sort_by=" + val;
		}

	})
  
</script>