<section class="section-pt section-pb">
    <div class="container">
        <div class="row product-filter border-bottom mb-5 justify-content-between">
            <div class="col-xl-6 col-md-4 col-sm-4 page-title mb-4">
                <h1 class="fw-700 font-title text-uppercase">All Collections</h1>
            </div>
        </div>
        <div class="collection-list">
            <div class="row">
               {% for collection in collections %}
			   {% unless collection.handle == 'frontpage' %}
                <div class="col-md-3 mb-5">
                    <div class="item-product hover-zoom d-flex flex-column align-items-center justify-content-center text-center">
						<a href="{{ collection.url }}" class="d-flex w-100 flex-column align-items-center position-relative radius-8">
							<div class="image flex-img w-100">
								<img src="{{ collection.image | img_url: 'medium' }}" alt="">
							</div>
							<div class="info position-absolute w-100 h-100 top left d-flex justify-content-center align-items-center">
								<h3 class="h4 fw-700 text-uppercase title text-white">{{ collection.title | escape }}</h3>
							</div>
						</a>
					</div>
                </div>
				{% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<style>
	.collection-list .item-product .image {
		height: 300px;
	}
	.collection-list .item-product .image:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0, .4);
	}
</style>