<section class="page section-pt section-pb">
    <div class="container">
        <div class="section-title text-center border-bottom pb-4">
            <h2 class="mb-4 fw-700 font-title">{{ page.title }}</h2>
        </div>
        <div class="row">
            <div class="row justify-content-center flex-column align-items-center">
                <div class="col-8 mb-5">{{ page.content }}</div>
            </div>
        </div>
    </div>
</section>