{% paginate search.results by 10 %}

<section class="search-form section-pt section-pb">
	<div class="container">
		<div class="row justify-content-center section-pb">
			<div class="col-md-7 px-0">
				<form action="/search" method="get" role="search" class="w-100 d-flex align-items-center">
					<input type="search" name="q" value="{{ search.terms | escape }}" class="form-control">
					<button type="submit" class="btn btn-primary text-uppercase px-4">search</button>
				</form>
			</div>
		</div>
		<div class="search-result mb-4">
			{% if search.performed %}
			{% for item in search.results %}
				<div class="item d-flex mb-4">
					{% if item.featured_image %}
					<a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}" class="image flex-img" style="width: 200px; height: 200px;">
						{{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
					</a>
					{% endif %}
					{% if item.image.src %}
					<a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}" class="image flex-img" style="width: 200px; height: 200px;">
						{{ item.image.src | img_url: 'medium' | img_tag: item.image.alt }}
					</a>
					{% endif %}
					<div class="content py-3 px-4 w-100">
						<h5 class="mb-3 fw-700 fz18">{{ item.title | link_to: item.url }}</h5>
						<p class="fw-600 fz16">{{ item.content | strip_html | truncatewords: 50 }}</p>
					</div>
					
				</div>
			{% else %}
				<h3 class="text-center fw-700 text-uppercase">No Results found</h3>
			{% endfor %}
			{% endif %}
		</div>

		{% if paginate.pages > 1 %}
		<div class="pagination">
			{{ paginate | default_pagination }}
		</div>
		{% endif %}

	</div>
</section>


{% endpaginate %}
